!!! 5
%html{lang: 'en', itemscope: '', itemtype: 'http://schema.org/CollectionPage', class: 'gr__shakespeare-monologues_org'}
	%head
		%title= @title.present? ? "#{@title} | Shakespeare's Monologues" : 'Shakespeare\'s Monologues'

		= javascript_include_tag 'jquery.min', 'bootstrap.min', 'application'
		= stylesheet_link_tag 'normalize', 'bootstrap.min', 'mobile'
		= yield_content :include
	.body

		=partial('mobile/menu', locals: {}, layout: false)

		.center-column-list

			=partial('mobile/list', layout: false, locals: {show_play_title: true})

			-#  // alert("Gender global " + window.globalViewGender);

			%script{type: 'text/javascript'}
				:plain
					$( "#search-box" ).focus();
					$( "#search-box" ).click(function( event ) {
						event.preventDefault();
						return false;
					});
					$('#search-box').keyup(function(){
						var query = $('#search-box').val();
						$.ajax({
							url: "/search/" + query + "/" + window.globalViewGender,
							cache: false
						})
						.done(function( html ) {
							$( ".jquery-search-replace" ).replaceWith( html );
						});
					});
