    %script{ :src => "//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js" }
    :javascript
      window.addEventListener("load", function(){ 
        window.cookieconsent.initialise({ 
          "palette": { 
            "popup": { 
              "background": "#d5ca9d"
            },
            "button": { 
              "background": "#4b81e8"
            }
          },
          "content": { 
            "message": "This site uses cookies for site functionality. We use third-party tools for ads, social media integration, link-sharing, donations, and site analytics. Each of these third party tools also use cookies. By using this site, you agree to the use of these cookies.",
            "dismiss": "Understood",
            "link": "Click here for details.",
            "href": "https://www.shakespeare-monologues.org/privacy"
          }
        });
      }); 
      # End cookie consent

    .container
      .left-column.col-md-2.col-xs-12
        %br/
        = render 'shared/left-column', layout: false

      .center-column.col-md-7.col-xs-12
        # Page views should contain .center-column-header and .center-column-list
        = yield
        # Footer contains .center-column-footer
        = render 'shared/center-footer', layout: false

      .right-column.col-md-3.col-xs-12
        = render 'shared/right-column', layout: false

    :javascript
      #{ js_set_global_params }
      $("#search-box")[0].placeholder = createPlaceholderText();
      $(function () { 
        // check to see if search is invoked in the URL first
        if ( document.location.href.indexOf('/?search=') > -1 ) {
          //grab the entire query string
          var query = document.location.search.replace('?', '');

          //extract each field/value pair
          query = query.split('&');

          //run through each pair
          for (var i = 0; i < query.length; i++) { 

            //split up the field/value pair into an array
            var field = query[i].split("=");

            //decode it, target the field and assign its value
            var dec = decodeURIComponent(field[1]).replace( /\+/g, ' ' );
            $(`input[name='${field[0]}'], select[name='${field[0]}']`).val(dec);
            queryChanged();
            doSearch(gParams);
          }
        }
      });