!!! Strict
%html
  %head
    %title= [@title, "Shakespeare's Monologues"].compact.join(" | ")
    = javascript_include_tag 'jquery', '/javascripts/bootstrap.min'
    = stylesheet_link_tag 'bootstrap.min', 'application'
    = yield_content :include
  %body
    -# #header
    -#   The header!
    -# #container
    #main= yield
    -#   #sidebar
    -# #footer
    -#   That's it!
