!!! 5
%html{lang: 'en', itemscope: '', itemtype: 'http://schema.org/CollectionPage', class: 'gr__shakespeare-monologues_org'}
	%head
		%title= @title.present? ? "#{@title} | Shakespeare's Monologues" : 'Shakespeare\'s Monologues'

		= javascript_include_tag 'jquery.min', 'jquery-ujs', 'bootstrap.min', 'application'
		= stylesheet_link_tag 'normalize', 'bootstrap.min', 'application'
		= yield_content :include

		- # REMOVE everbutton tip jar script?
		- # Replaced with .tip-jar css. Is this Javascript needed?
		- # %script{type: 'text/javascript', async: '', src: 'https://www.everbutton.com/assets/everbutton.v1.js?button_id=693'}


	%body
		.container

			.left-column.col-xs-2

				=render 'shared/left-column', layout: false

			.center-column.col-xs-8

				/ Page views should contain .center-column-header and .center-column-list
				= yield

				/ Footer contains .center-column-footer
				=render 'shared/center-footer', layout: false


			.right-column.col-xs-2

				=render 'shared/right-column', layout: false