!!! 5
%html{lang: 'en', itemscope: ''}
	%head
		%title= @title.present? ? "#{@title} | #{Monologues::App::SITE_TITLE}" : Monologues::App::SITE_TITLE

		= javascript_include_tag 'jquery.min'
		= javascript_include_tag 'bootstrap.min'
		-#  // = javascript_include_tag 'button-group'
		= javascript_include_tag 'application'
		= stylesheet_link_tag 'normalize'
		-#= stylesheet_link_tag 'bootstrap.min'
		%script{src: "https://use.fonticons.com/b2523290.js"}
		= stylesheet_link_tag 'mobile'
		= yield_content :include

	.body

		=partial('mobile/menu', locals: {}, layout: false)

		= yield
